	<h1> Pokestats.net </h1>
	<p> Pokestats.net is a website with information on Pokemon, moves, and abilities!</p>

	<h2> Searching </h2>

	<p> There are filters that may be used to search the Pokemon and moves described below:</p>
	<table>
		<thead>
			<tr>
				<td>Syntax</td>
				<td>Effect</td>
				<td>Example</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>type:&lt;Type&gt;</td>
				<td>Restricts the search to pokemon of a specific type.</td>
				<td><a href="#!q/type:Water">type:Water</a></td>
			</tr>
		</tbody>
	</table>

	<h2> Credits </p>

	<p> All data on this site is from <a href="https://github.com/AwestruckStudios/Gen6">AwestruckStudios</a> </p>
	<p> Find this site on GitHub <a href="https://github.com/genesy/pokestats">here</a>!
	<p> Sprites of Pokemon between generations I-V are from Pokemon Black/White Version 2, with the Generation 6 sprites avaliable <a href="http://noscium.deviantart.com/art/Pokemon-sprite-tribute-Kalos-Dex-Complete-406635242">here</a> courtesy of <a href="http://noscium.deviantart.com/">Noscium of DeviantArt</a>.

	<h2> Donations </h2>

	<p> Donate here:</p>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_donations">
	<input type="hidden" name="business" value="WM2N9E44LZY36">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="item_name" value="Pokestats.net">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
