@import "compass";
@import "settings";
@import "foundation";
@import "types";
@import "loadingScreen";

html,body {
  height:100%;
  overflow:hidden;
}

.mainWrap {
  // override foundation max width
  max-width:100%;
  -webkit-overflow-scrolling:touch;
}

tr.caught {
  background:darken(#f9f9f9,5%);
  img {
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
  }
}

td.catch {
  padding:0;
}

.contentWrap {
  @media #{$small-only}, #{$medium-only} {
    @include transition(all .2s ease);
    background:#FFFFFF;
    position:absolute;
    width:100%;
    right:-100%;
    z-index:999;
  }
}

.back {
  width:100%;
  margin:0;
}

.main-content {
  overflow:auto;
  padding-right:20px;
  padding-left:20px;
}

.leftWrap {
  @media #{$small-up} {
    padding:0;
  }

  .searchWrap {
    input, .button {
      margin-bottom:0;
    }
  }

  .tabs {
    dd {
      top:0;
      a {
        font-size:10px;
      }

      .count {
        font-size:10px;
        position:relative;
        padding:5px;
        top:-2px;
      }
    }
  }

  .tabs-content {
    overflow-y:scroll;
    & > .content {
      padding-left:10px;
      padding-right:10px;
      width:100%;
    }
  }
}

.contentWrap {
  td {
    vertical-align:middle;
    &.typelist
    {
      vertical-align:top;
    }
  }
}

.typewrap {
  &.single .type {
    width:100%;
  }

  .type {
    width:50%;
    float:left;
    font-size:11px;
  }
}

table {
  width:100%;
}

.tabs-content>.content.content-table.active {
  display:table;
}

.tabs > dd {
  padding:0;
  text-align:center;
}

.button.postfix {
  padding:0;
}

@media #{$medium-only} {
  .nested {
    &.left {
      padding-left:0px;
    }
    &.right {
      padding-right:0px;
    }
  }
}

@media #{$small-only} {
  .nested {
    padding-left:0px;
    padding-right:0px;
  }
}

@media #{$large-up} {
  .nested {
    padding-left:0px;
    padding-right:0px;
  }
}

.invisible {
  display:none;
}
